@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: Montserrat, sans-serif;
	font-weight: light;
	font-size: smaller;
	max-width: 100%;
	overflow-x: hidden;
	/* font-size: small; */
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

/* a:hover {
  color: red;
  text-decoration: none;
} */

.fixPoint {
	background-attachment: fixed;
	scroll-snap-align: start;
}

@media only screen and (max-width: 56.25em) {
	.fixPoint {
		background-attachment: scroll;
	}
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

.bg-video__content {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* video {
	height: 100%;
	width: 100%;
} */

/* .header-video-wrapper video {
	z-index: -1;
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	transform: translate(-50%, -50%);
} */

form {
	margin: 0 auto;
	max-width: 600px;
	padding: 1em;
	border: 1px solid rgb(244, 221, 8);
	border-radius: 1em;
}

label {
	display: block;
	width: 100%;
	text-align: left;
	color: rgb(244, 221, 8);
}

input,
textarea {
	width: 60%;
	border: 1px solid #777;
	font-size: 1em;
}

input:focus,
textarea:focus {
	border-color: red;
}

#wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

#header {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 12px;
	right: 0px;
	left: 10px;
	/*background-color: rgb(0, 0, 0,0.7);*/
	z-index: 100;
}

#menu .navicon {
	display: none;
	font-size: 2em;
	float: left;
	color: rgb(243, 243, 243);
}

#menu nav {
	/*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	padding-left: 10px;
	border-radius: 25px;
	outline-offset: 0.5rem;
	outline: 0.1rem solid rgb(244, 221, 8, 0.7);
	background-color: rgb(0, 0, 0);
	float: left;
}

#menu nav ul {
	padding: 0;
	margin: 0;
}

#menu nav li {
	float: left;
	list-style-type: none;
	/*border: 1px solid black;*/
	font-size: 1.2rem;
	/* text-transform: uppercase; */
	/* letter-spacing: 0.3rem; */
}

#menu nav li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	/*background-color: rgb(34, 34, 34, 0.6);*/
	color: rgb(243, 243, 243);
	color: rgb(227, 222, 178);
}

#menu nav li a:hover {
	/*background-color: #000;*/
	color: rgb(244, 221, 8);
}

#menu nav li:last-child {
	padding-right: 10px;
}

@media screen and (max-width: 640px) {
	#header {
		/*margin: 0 auto;*/
		width: 100%;
		height: 40px;
		position: fixed;
		top: 0px;
		right: 0px;
		left: 0px;
		/*border: 1px solid black;*/
		background-color: rgb(0, 0, 0, 0.7);
		z-index: 100;
	}
	#menu .navicon {
		display: block;
		padding-left: 10px;
	}

	#menu nav {
		display: none;
		/* font-family: 'Lobster', cursive; */
		font-weight: 700;
		outline: 0px;
		font-size: 2.5rem;
		margin-top: 3px;
		border-radius: 0px;
		width: 100%;
		height: 24vh;
		background-color: rgb(0, 0, 0);
		text-align: left;
		z-index: 100;
	}

	#menu nav ul li {
		width: 100%;
		/* padding-bottom: 3rem; */
	}
}

.section {
	height: 100vh;
	overflow: auto;
	/*position: relative;*/
	background-size: cover;
	background-position: center center;
}

.section article {
	padding: 30px;
	min-height: 5rem;
	background-image: linear-gradient(to right bottom, #010500, #0d0f01ce);
	outline-offset: 0.5rem;
	outline: 0.1rem solid rgb(244, 221, 8, 0.7);
	color: rgb(255, 255, 255);
	color: rgb(227, 222, 178);
	padding: 50px;
	margin-top: 15vh;
}

@media only screen and (max-width: 56.25em) {
	.section article {
		padding-left: 1px;
		padding-right: 1px;
		margin-top: 10vh;
		height: auto;
	}
}

#home {
	background-color: none;
}

#about {
	background-image: url(../img/a-pic-central-library-front.jpg);
}

#features {
	background-image: url(../img/a-pic-bow-building-front.jpg);
	background-color: none;
}

#experience {
	background-image: url(../img/a-pic-calgary-skyline-night.jpg);
	background-color: none;
}

#experience ul li {
	display: inline-block;
	width: 48%;
	min-height: 200px;
}

#experience ul {
	padding: 10px;
	list-style-type: none;
}

#contribute {
	background-image: url(../img/a-pic-contribute-page.jpg);
	background-color: white;
}

#team {
	background-image: url(../img/a-pic-bow-building-calgary.jpg);
	background-color: white;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 200px;
}

.features-heading {
	color: rgb(244, 221, 8);
	font-family: 'Lobster', cursive;
	display: block;
	font-size: 1.8rem;
	font-weight: 100;
	/* letter-spacing: 0.3rem; */
	margin-bottom: 0.6rem;
	/* text-decoration: underline rgb(244, 221, 8); */
}

.header__text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 100;
	/*border: 1px solid rgb(244, 221, 8);*/
	background-color: rgba(0, 0, 0, 0.5);
	outline-offset: 0.5rem;
	outline: 0.1rem solid rgb(244, 221, 8, 0.7);
	padding-top: 40px;
	width: 100%;
	z-index: 10;
}

.heading-primary {
	color: rgb(244, 221, 8);
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;
}

.heading-primary--main {
	font-family: 'Lobster', cursive;
	display: block;
	font-size: 7rem;
	font-weight: 200;
	/* letter-spacing: 1.5rem; */
	text-align: center;
}

@media only screen and (max-width: 80em) {
	.heading-primary--main {
		/* letter-spacing: 1rem; */
		font-size: 5.5rem;
	}
}

.heading-primary--sub {
	display: block;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 0.69rem;
}

@media only screen and (max-width: 80em) {
	.heading-primary--sub {
		letter-spacing: 0.6rem;
		font-size: 1rem;
	}
}
@media only screen and (max-width: 56.25em) {
	.heading-primary--sub {
		letter-spacing: 0.4rem;
		font-size: 0.8rem;
	}
}
@media only screen and (max-width: 56.25em) {
	.heading-primary--main {
		font-size: 4rem;
	}
}

.rows {
	max-width: 114rem;
	margin: 0 auto;
}

.rows:not(:last-child) {
	margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
	.rows:not(:last-child) {
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 56.25em) {
	.rows {
		max-width: 50rem;
		padding: 0 3rem;
	}
}

.rows::after {
	content: '';
	display: table;
	clear: both;
}

.rows [class^='col-'] {
	float: left;
}

.rows [class^='col-']:not(:last-child) {
	margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
	.rows [class^='col-']:not(:last-child) {
		margin-right: 0;
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 56.25em) {
	.rows [class^='col-'] {
		width: 100% !important;
	}
}

.rows .col-1-of-2 {
	width: calc((100% - 6rem) / 2);
}

.rows .col-1-of-3 {
	width: calc((100% - 2 * 6rem) / 3);
}

.rows .col-2-of-3 {
	width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.rows .col-1-of-4 {
	width: calc((100% - 3 * 6rem) / 4);
}

.rows .col-2-of-4 {
	width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.rows .col-3-of-4 {
	width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

/* start bios-rows */
.bios-rows {
	max-width: 114rem;
	margin: 0 auto;
}

.bios-rows:not(:last-child) {
	margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
	.bios-rows:not(:last-child) {
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 56.25em) {
	.bios-rows {
		max-width: 50rem;
		padding: 0 3rem;
	}
}

.bios-rows::after {
	content: '';
	display: table;
	clear: both;
}

.bios-rows [class^='col-'] {
	float: left;
}

.bios-rows [class^='col-']:not(:last-child) {
	margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
	.bios-rows [class^='col-']:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 56.25em) {
	.bios-rows [class^='col-'] {
		width: 100% !important;
	}
}

.bios-rows .col-1-of-2 {
	width: calc((80% - 4rem) / 2);
}

.bios-rows .col-1-of-3 {
	width: calc((100% - 2 * 6rem) / 3);
}

.bios-rows .col-2-of-3 {
	width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.bios-rows .col-1-of-4 {
	width: calc((100% - 3 * 6rem) / 4);
}

.bios-rows .col-2-of-4 {
	width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.bios-rows .col-3-of-4 {
	width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

/* end bios-rows */

.paragraph {
	font-size: 1.2rem;
}
.paragraphnote {
	font-size: 0.8rem;
}

/*.paragraph:not(:last-child) {
    margin-bottom: 3rem;
  }*/
/* composition group one: about */
.about {
	margin-top: -7rem;
	position: relative;
}

@media screen and (max-width: 56.25em) {
	.about {
		margin-top: 0rem;
		position: initial;
	}
}

.about__photo {
	width: 55%;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
	border-radius: 0.01px;
	position: absolute;
	z-index: 10;
	transition: all 0.2s;
	outline-offset: 1rem;
}

@media only screen and (max-width: 56.25em) {
	.about__photo {
		float: left;
		position: relative;
		width: 33.33333333%;
	}
}

.about__photo--p1 {
	left: 0;
	top: -2rem;
}

@media only screen and (max-width: 56.25em) {
	.about__photo--p1 {
		top: 0;
		transform: scale(1.1);
	}
}

.about__photo--p2 {
	right: 0;
	top: 2rem;
}

@media only screen and (max-width: 56.25em) {
	.about__photo--p2 {
		top: -1rem;
		transform: scale(1.3);
		z-index: 50;
	}
}

.about__photo--p3 {
	left: 20%;
	top: 10rem;
}

@media only screen and (max-width: 56.25em) {
	.about__photo--p3 {
		top: 1rem;
		left: 0;
		transform: scale(1.1);
	}
}

.about__photo:hover {
	outline: 0.1rem solid rgb(244, 221, 8);
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.about:hover .about__photo:not(:hover) {
	transform: scale(0.95);
}

/* composition group two: Features */
.features {
	margin-top: -7rem;
	position: relative;
}

@media screen and (max-width: 56.25em) {
	.features {
		margin-top: 0rem;
		position: initial;
	}
}

.features__photo {
	/* width: 5rem; */
	/* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); */
	margin: auto;
	border-radius: 0.01px;
	position: absolute;
	z-index: 10;
	transition: all 0.2s;
	outline-offset: 1rem;
}

@media only screen and (max-width: 56.25em) {
	.features__photo {
		float: left;
		position: relative;
		width: 33.33333333%;
	}
}

.features__photo--p1 {
	left: 0;
	top: -2rem;
}

@media only screen and (max-width: 56.25em) {
	.features__photo--p1 {
		top: 0;
		transform: scale(1.1);
	}
}

.features__photo--p2 {
	right: 20%;
	width: 15rem;
	margin: auto;
	top: 2rem;
}

@media only screen and (max-width: 56.25em) {
	.features__photo--p2 {
		top: -1rem;
		transform: scale(1);
		z-index: 50;
		right: 0;
	}
}

.features__photo--p3 {
	left: 20%;
	top: 10rem;
}

@media only screen and (max-width: 56.25em) {
	.features__photo--p3 {
		top: 1rem;
		left: 0;
		transform: scale(1.1);
	}
}

.features__photo:hover {
	outline: 0.1rem solid rgb(244, 221, 8);
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.features:hover .about__photo:not(:hover) {
	transform: scale(0.95);
}

/* composition group three: samples */
.samples {
	outline: 0.1rem solid rgb(244, 221, 8);
	outline-offset: 1rem;
	border-radius: 0.01px;
	/*margin-top: -7rem;*/
	position: relative;
}

.samples__photo {
	width: 55%;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
	border-radius: 0.01px;
	position: absolute;
	z-index: 10;
	transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
	.samples {
		margin-top: 0rem;
		position: relative;
	}

	.samples__photo {
		float: left;
		position: relative;
		width: 33.33333333%;
	}
}
.samples__photo--p1 {
	left: 0;
	top: -2rem;
}

@media only screen and (max-width: 56.25em) {
	.samples__photo--p1 {
		top: 0;
		transform: scale(1.2);
	}
}

.samples__photo--p2 {
	right: 0;
	top: 2rem;
}

@media only screen and (max-width: 56.25em) {
	.samples__photo--p2 {
		top: -1rem;
		transform: scale(1.3);
		z-index: 50;
	}
}

.samples__photo--p3 {
	left: 20%;
	top: 10rem;
}

@media only screen and (max-width: 56.25em) {
	.samples__photo--p3 {
		top: 1rem;
		left: 0;
		transform: scale(1.1);
		z-index: 50;
	}
}

.samples__photo:hover {
	outline: 0.1rem solid rgb(244, 221, 8);
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.samples:hover .samples__photo:not(:hover) {
	transform: scale(0.95);
}

/* composition group four: contribute */
.contribute {
	margin-top: -4rem;
	position: relative;
}

@media screen and (max-width: 56.25em) {
	.contribute {
		margin-top: 0rem;
		position: relative;
	}
}

.contribute__photo {
	width: 55%;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
	border-radius: 0.01px;
	position: absolute;
	z-index: 10;
	transition: all 0.2s;
	outline-offset: 1rem;
}

@media only screen and (max-width: 56.25em) {
	.contribute {
		margin-top: 0rem;
		position: relative;
	}

	.contribute__photo {
		float: left;
		position: relative;
		width: 33.33333333%;
	}
}

.contribute__photo--p1 {
	left: 0;
	top: -2rem;
}

@media only screen and (max-width: 56.25em) {
	.contribute__photo--p1 {
		top: 0;
		transform: scale(1.2);
	}
}

.contribute__photo--p2 {
	right: 0;
	top: 2rem;
}

@media only screen and (max-width: 56.25em) {
	.contribute__photo--p2 {
		top: -1rem;
		transform: scale(1.3);
		z-index: 50;
	}
}

.contribute__photo--p3 {
	left: 20%;
	top: 10rem;
}

@media only screen and (max-width: 56.25em) {
	.contribute__photo--p3 {
		top: 1rem;
		left: 0;
		transform: scale(1.1);
	}
}

.contribute__photo:hover {
	outline: 0.1rem solid rgb(244, 221, 8);
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.contribute:hover .contribute__photo:not(:hover) {
	transform: scale(0.95);
}

/* Start Move In Left/Move In Right/Move In Bottom animation CSS */
.animated-box {
	width: auto;
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
.animated-box-left {
	width: auto;
}
.move-in-left {
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.animated-box-right {
	width: auto;
}

.move-in-right {
	animation: moveInRight 1s ease-out;
}
.move-in-bottom {
	animation: moveInBottom 1s ease-out 0.75s;
	animation-fill-mode: backwards;
}

/* End Move In Left/Move In Right/Move In Bottom animation CSS */
/* start button styles */
.btn,
.btn:link,
.btn:visited {
	margin-top: 1.8rem;
	margin-left: 0;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.5rem 0.8rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	color: black;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn:active,
.btn:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--yellow {
	background-color: rgb(244, 221, 8);
	color: #000000;
}

.btn--yellow::after {
	background-color: rgb(244, 221, 8);
}

.btn::after {
	background-color: rgb(244, 221, 8);
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn--animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
	font-size: 0.8rem;
	color: rgb(244, 221, 8);
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-text:hover {
	color: #fff;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	transform: translateY(0.2rem);
}

/* Start Bios Pictures CSS */
.round-accent-pic {
	outline: 0.3rem solid rgb(244, 221, 8);
	outline-offset: 1rem;
	border-radius: 0.01px;
}

@media only screen and (max-width: 56.25em) {
	.round-accent-pic:not(:last-child) {
		margin-bottom: 10rem;
	}
}

.round-accent-pic__shape {
	width: 8rem;
	height: 8rem;
	float: left;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 0.8rem;
	margin-top: 0.1rem;
	background-color: rgb(244, 221, 8);
	border: 0.14rem solid rgb(244, 221, 8);
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
	.round-accent-pic__shape {
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		border-radius: none;
	}
}

.team-bios__img {
	height: 100%;
	backface-visibility: hidden;
}
/* End Bios Pictures CSS */
.section h2 {
	/* letter-spacing: 0.7rem; */
	margin-top: 10vh;
	padding: 5px;
	/* clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);*/
	color: rgb(244, 221, 8);
	font-family: 'Lobster', cursive;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 3.5em;
	/* text-transform: uppercase; */
	text-align: center;
}

@media only screen and (max-width: 56.25em) {
	.section h2 {
		/* display: none; */
		font-size: 2.5em;
	}
}

.section-title-shape {
	clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}
